    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    
    body {
        background: #bdc3c7;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #2c3e50, #bdc3c7);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }
    
    .placement {
        border: 1px solid rgb(75, 74, 74);
        color: white;
        padding: 50px;
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translateX(-50%) translateY(-50%);
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        font-size: 40px;
        text-align: center;
        background: #8360c3;
        background: -webkit-linear-gradient(to bottom, #2ebf91, #8360c3);
        background: linear-gradient(to bottom, #2ebf91, #8360c3);
        border-radius: 100px;
        box-shadow: 6px 10px 30px 3px #686666;
    }
    
    #timer {
        font-size: 40px;
    }
    
    .start {
        text-align: left;
        margin-top: 20px;
        padding: 15px;
    }
    
    .stop {
        text-align: left;
        padding: 15px;
    }
    
    #stop {
        text-align: center;
        padding: 10px;
        border-radius: 50px;
        width: 150px;
        border: 1px solid black;
        box-shadow: 6px 8px 30px 3px #494646;
        background-color: rgb(202, 194, 194);
    }
    
    #start {
        text-align: center;
        padding: 10px;
        border-radius: 50px;
        width: 150px;
        border: 1px solid black;
        box-shadow: 6px 8px 30px 3px #494646;
        background-color: rgb(202, 194, 194);
    }
    
    #reset {
        text-align: center;
        padding: 10px;
        border-radius: 50px;
        width: 150px;
        border: 1px solid black;
        box-shadow: 6px 8px 30px 3px #494646;
        background-color: rgb(202, 194, 194);
        text-transform: uppercase;
        margin: 12px;
    }